saves
.curseclient
backups/
*.bak
crash-reports/
kubejs/_*
ESM/
kubejs/Readme.txt
lightspeed-cache/
local/
logs/
mods/
minecraftinstance.json
patchouli_books/
profileImage/
patchouli_data.json
rhino.local.properties
screenshots/
usercache.json
usernamecache.json
kubejs/logs.lnk
resourcepacks/
resourcepacks/Quark Programmer Art.zip
config/skyblockbuilder/data/
config/skyblockbuilder/starter_item.json
config/appleskin-client.toml
config/ars_nouveau-client.toml
config/ars_nouveau-common.toml
config/arseng-common.toml
config/betteradvancements-client.toml
config/bluepower-common.toml
config/buildinggadgets-client.toml
config/classicbar-client.toml
defaultconfigs/ftbchunks/client-config.snbt
defaultconfigs/ceramicbucket-server.toml
config/twerk-config.toml
config/cofh_core-client.toml
config/commoncapabilities-common.toml
config/cofh_core-common.toml
config/craftingstation-client.toml
config/configured-client.toml
config/curios-client.toml
config/curiotiab-client.toml
config/cyclic-client.toml
config/cyclic.toml
config/darkmodeeverywhere-client.toml
config/cyclopscore-common.toml
config/de/mari_023/ae2wtlib.json5
config/darkmodeeverywhereshaders.json
config/engineersdecor-common.toml
config/essentials-client.toml
config/essentials-server.toml
config/exoticbirds-common.toml
config/extremecobblegenerator-common.toml
config/extremesoundmuffler-client.toml
config/farmersdelight-client.toml
config/farmersdelight-common.toml
config/fastsuite.cfg
config/fml.toml
config/forge-client.toml
config/forge-common.toml
config/forge-resource-caching.toml
config/gamemenumodoption-client.toml
config/hostilenetworks.cfg
config/integrateddynamics-common.toml
config/integrateddynamicscompat-common.toml
defaultconfigs/bucketlib-server.toml
config/torchmaster.toml
config/titanium/titanium.toml
config/titanium/titanium-tags.toml
config/tia.toml
config/thermal-common.toml
config/tesseract-common.toml
config/supplementaries-client.toml
config/supplementaries-common.toml
config/thermal-client.toml
config/sidebar_buttons.json
config/shrink-common.toml
config/servertabinfo-server.toml
config/shimmer-client.toml
config/rubidium-options.json
config/rubidium-mixins.properties
config/rubidium_extras.toml
config/reactive-client.toml
config/rootsclassic-client.toml
config/quark-common.toml
config/pneumaticcraft/thirdparty.cfg
config/pneumaticcraft/MicromissileDefaults.cfg
config/polymorph-integrations.toml
config/questsadditions-client.toml
config/reactive-common.toml
config/rootsclassic-common.toml
config/serverconfigupdater-common.toml
config/servertabinfo-client.toml
config/placebo.cfg
config/patchouli-client.toml
config/NoChatReports/NCR-ServerWhitelist.json
config/NoChatReports/NCR-Client.json
config/mcjtylib-client.toml
config/modularrouters-client.toml
config/NoChatReports/NCR-Encryption.json
config/NoChatReports/NCR-Common.json
config/pedestals-client.toml
config/modularrouters-common.toml
config/pneumaticcraft-client.toml
config/merequester-common.toml
config/mcpitanlibarch/blacklist.json
config/NoChatReports/README.md
config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
config/nuclearcraft-common.toml
config/pedestals-common.toml
config/pneumaticcraft-common.toml
config/jade/jade.json
config/jade/plugins.json
config/inventoryspam-client.toml
config/jade/sort-order.json
config/inventorypets-common.toml
config/inventory_pets_illuminati_blacklist.json
config/jade/hide-entities-1902.json
config/jeed-client.toml
config/konkrete/locals/en_us.local
config/integratedtunnels-common.toml
config/konkrete/locals/de_de.local
config/konkrete/locals/pl_pl.local
config/jade/hide-blocks-1902.json
config/legendarytooltips-common.toml
config/konkrete/locals/pt_br.local
config/ars_nouveau/
config/ars_nouveau-server.toml
config/entangled-common.toml
config/jei/blacklist.cfg
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/ae2/client.json
config/jei/jei-client.ini
config/jei/jei-colors.ini
config/jei/jei-debug.ini
config/jei/jei-mod-id-format.ini
config/jei/recipe-category-sort-order.ini
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/pneumaticcraft/ProgrammingPuzzleBlacklist.cfg
config/spark/config.json
defaultconfigs/ftbchunks/ftbchunks-world.snbt
defaultconfigs/ftbessentials-server.snbt
defaultconfigs/ftbultimine/ftbultimine-client.snbt
defaultconfigs/ftbultimine/ftbultimine-server.snbt
config/jetboots-server.toml
config/jetboots-client.toml
config/Mekanism/client.toml
config/Mekanism/common.toml
config/Mekanism/gear.toml
config/Mekanism/general.toml
config/Mekanism/machine-storage.toml
config/Mekanism/machine-usage.toml
config/Mekanism/tiers.toml
config/Mekanism/world.toml
config/skyblockbuilder/common-config.json5
config/Mekanism/generators.toml
config/Mekanism/generators-gear.toml
config/Mekanism/generator-storage.toml
