saves
.curseclient
backups/
*.bak
crash-reports/
kubejs/_*
ESM/
kubejs/Readme.txt
lightspeed-cache/
local/
logs/
mods/
minecraftinstance.json
patchouli_books/
profileImage/
patchouli_data.json
rhino.local.properties
screenshots/
usercache.json
usernamecache.json
kubejs/logs.lnk
resourcepacks/
resourcepacks/Quark Programmer Art.zip
config/skyblockbuilder/data/
config/skyblockbuilder/starter_item.json
manifest.json
manifest.json
modlist.html
